.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid white;
  justify-content: space-between;
  padding: 0vw 2vw ;
  font-size: calc(10px + 2vmin);
  color: white;
}

#dad-vertical-add {
  height: 80vh;
  width: 20vw
}

.login-button {
  background-color: transparent;
  height: 2vw;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0px 10px;
  color: white;
  cursor: pointer;
}

.mainBody {
  background-color: #282c34;
  min-height: 93vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding: 0vw 2vw;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
